services:
  frontend:
    build: .
    container_name: frontend_app
    restart: always
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules
    command: npm run dev -- --host
