.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.home__topbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 160px; 
    
}

.home__post-job-btn {
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #000;
    color: white;
    font-size: 0.95rem;
}

.home__content {
    display: flex;
    flex-direction: row;
    column-gap: 68px; /
}

.home__filters {
    width: 269px;
    margin-left: 160px; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.home__jobs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.job-listings {
    display: flex;
    flex-wrap: wrap; 
    gap: 13px; 
    justify-content: flex-start; 
}
